section.section.calback
    .container
        .title Trusted by Thousands
        .subtitle Term sheet convertible note colluding bootstrapping.
        .calback__sponsor
            .calback__sponsor-item
                img(src="static/images/content/calback/sponsor_1.png", alt="sponsor")
            .calback__sponsor-item
                img(src="static/images/content/calback/sponsor_2.png", alt="sponsor")
            .calback__sponsor-item
                img(src="static/images/content/calback/sponsor_3.png", alt="sponsor")
            .calback__sponsor-item
                img(src="static/images/content/calback/sponsor_4.png", alt="sponsor")
        .calback__slider
            .calback__slider-item
                .calback__text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market pivot onboarding.
                .calback__name Willeke Hoekstra
                .calback__prof AbZ Network
            .calback__slider-item
                .calback__text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market pivot onboarding.
                .calback__name Răducu Neamțu
                .calback__prof AbZ Network
            .calback__slider-item
                .calback__text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market pivot onboarding.
                .calback__name Markel Díaz
                .calback__prof AbZ Network
            .calback__slider-item
                .calback__text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market pivot onboarding.
                .calback__name Willeke Hoekstra
                .calback__prof AbZ Network
            .calback__slider-item
                .calback__text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market pivot onboarding.
                .calback__name Răducu Neamțu
                .calback__prof AbZ Network
            .calback__slider-item
                .calback__text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market pivot onboarding.
                .calback__name Markel Díaz
                .calback__prof AbZ Network

.calback-help
    .container 
        .calback-help__suptitle We Are Ready to Help You                                                                       
        .calback-help__title Get the Best Solution for Your Business  
        a(href="#").btn Get started    
.contact
    .container
        .contact__text Have any question or need help?
        a(href="#").contact__link CONTACT US NOW


