@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  font-family: $raleway;
  font-weight: 400;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}

.section {
  padding: 100px 0;
}

.btn {
  width: 178px;
  max-height: 54px;
  display: inline-block;
  background-color: $blue;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
  transition: all .5s;

  &--o {
    margin-right: 15px;

    &:hover {
      background-color: $white;
      color: $blue;
    }

  }

  &--w {
    background-color: transparent;
    border: 1px solid $white;

    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}

.text {
  color: #727272;
  font-family: $source;
  line-height: 25px;
}

.title {
  display: inline-block;
  width: 100%;
  color: $black;
  font-family: Raleway;
  font-size: 35px;
  font-weight: 500;
  line-height: 65px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 68px;
    height: 1px;
    background-color: $blue-dark;
  }
}

.subtitle {
  color: #727272;
  font-family: $source;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

//Модули
@import "modules/modules";