header.header(style={"background-image":"url(../static/images/content/header-bg.jpg)"})
    //- nav.navbar
    //-     .container  
    //-         .navbar-wrapper
    //-             a(href="#").logo    
    //-                 img(src="static/images/content/logo-dark.png", alt="logo")
    //-             ul.menu
    //-                 li.menu__item: a(href="#").menu__link.is-active Home                                     
    //-                 li.menu__item: a(href="#").menu__link Features  
    //-                 li.menu__item: a(href="#").menu__link Services  
    //-                 li.menu__item: a(href="#").menu__link Packages  
    //-                 li.menu__item: a(href="#").menu__link Testimonials  
    //-                 li.menu__item: a(href="#").menu__link Contact  
    nav.navbar-start
        .container
            .navbar-wrapper
                a(href="#").logo    
                    img(src="static/images/content/logo-white.png", alt="logo")  
                ul.social
                    li.social__item 
                        a(href="#").social__link 
                            +icon("facebook, social__icon")
                    li.social__item: a(href="#").social__link 
                        //- +icon("twitter, social__icon")
                    li.social__item: a(href="#").social__link
                        //- +icon("linkedin, social__icon") 
            .header__title Get the Best <span class="header__title--blue">Solution</span> for Your <span class="header__title--white">Business</span>
            .header__subtitle Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms. Coworking viral landing page user base.
            //- form.form(action="#")
            //-     input.form__input(type="text" placeholder="Your Name")
            //-     input.form__input(type="text" placeholder="Your E-Mail")
            //-     input.form__input(type="text" placeholder="Phone Number")
            //-     a.btn(href="#") Get started
            .header__btn
                .btn.btn--o Register now
                .btn.btn--w Learn More