section.section.features
    .container
        .title LandX Features
        .subtitle Term sheet convertible note colluding bootstrapping.
        .features__row
            .features__row-card
                .features__row-card__icon
                    img(src="static/images/content/icon/features/icon_1.png", alt="icon")
                .features__row-card__title Responsive Design
                .features__row-card__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
            .features__row-card
                .features__row-card__icon
                    img(src="static/images/content/icon/features/icon_2.png", alt="icon")
                .features__row-card__title 1000+ Font Icons
                .features__row-card__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
            .features__row-card
                .features__row-card__icon
                    img(src="static/images/content/icon/features/icon_3.png", alt="icon")
                .features__row-card__title Built with Bootstrap 3.1
                .features__row-card__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
            .features__row-card
                .features__row-card__icon
                    img(src="static/images/content/icon/features/icon_4.png", alt="icon")
                .features__row-card__title Lots of Variations
                .features__row-card__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
            .features__row-card
                .features__row-card__icon
                    img(src="static/images/content/icon/features/icon_5.png", alt="icon")
                .features__row-card__title Valid Markup
                .features__row-card__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.
            .features__row-card
                .features__row-card__icon
                    img(src="static/images/content/icon/features/icon_6.png", alt="icon")
                .features__row-card__title Easy to Customize
                .features__row-card__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement.