section.section.product
    .container
        .title Product Screenshots
        .subtitle Term sheet convertible note colluding bootstrapping.
        .product__slider
            .product__slider-item(style={"background-image":"url(../static/images/content/product/slide_1.jpg)"})
            .product__slider-item(style={"background-image":"url(../static/images/content/product/slide_2.jpg)"})
            .product__slider-item(style={"background-image":"url(../static/images/content/product/slide_3.jpg)"})
            .product__slider-item(style={"background-image":"url(../static/images/content/product/slide_1.jpg)"})
            .product__slider-item(style={"background-image":"url(../static/images/content/product/slide_3.jpg)"})
            .product__slider-item(style={"background-image":"url(../static/images/content/product/slide_2.jpg)"})
