section.section.pricing
    .container
        .title Pricing Table
        .subtitle Term sheet convertible note colluding bootstrapping.
        .pricing-row
            .pricing__card
                .pricing__card-header
                    .pricing__card-header__title Basic
                    .pricing__card-header__subtitle From <span>$99</span> per month
                .pricing__card-main
                    .pricing__card-row
                        .pricing__card-row__name Total Users
                        .pricing__card-row__number 15 
                    .pricing__card-row
                        .pricing__card-row__name Unlimited Styles
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Advance Protection
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Cloud Storage
                        .pricing__card-row__number &#10008;
                    .pricing__card-row
                        .pricing__card-row__name 24/7 Customer Service
                        .pricing__card-row__number &#10008;
                    .pricing__card-row
                        .pricing__card-row__name Backup Service
                        .pricing__card-row__number &#10008;
                .pricing__card-footer
                    .pricing__card-footer__price $99 Per Month
                    a(href="#").pricing__card-footer__btn Sign Up
            .pricing__card
                .pricing__card-header
                    .pricing__card-header__title Premium
                    .pricing__card-header__subtitle From <span>$199</span> per month
                .pricing__card-main
                    .pricing__card-row
                        .pricing__card-row__name Total Users
                        .pricing__card-row__number 35
                    .pricing__card-row
                        .pricing__card-row__name Unlimited Styles
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Advance Protection
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Cloud Storage
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name 24/7 Customer Service
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Backup Service
                        .pricing__card-row__number &#10008;
                .pricing__card-footer
                    .pricing__card-footer__price $199 Per Month
                    a(href="#").pricing__card-footer__btn Sign Up
            .pricing__card
                .pricing__card-header
                    .pricing__card-header__title Ultimate
                    .pricing__card-header__subtitle From <span>$299</span> per month
                .pricing__card-main
                    .pricing__card-row
                        .pricing__card-row__name Total Users
                        .pricing__card-row__number 60
                    .pricing__card-row
                        .pricing__card-row__name Unlimited Styles
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Advance Protection
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Cloud Storage
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name 24/7 Customer Service
                        .pricing__card-row__number &#10004;
                    .pricing__card-row
                        .pricing__card-row__name Backup Service
                        .pricing__card-row__number &#10004;
                .pricing__card-footer
                    .pricing__card-footer__price $299 Per Month
                    a(href="#").pricing__card-footer__btn Sign Up

                
                

