extends template/main

block variables
	- var title = 'landx'

block content
	include modules/brief/brief
	include modules/features/features
	include modules/pricing/pricing
	include modules/video/video
	include modules/product/product
	include modules/calback/calback
