section.section.brief
    .container
        .brief-wrapper
            .brief__browser
                img(src="static/images/content/brief.jpg", alt="browser")
            .brief__info
                .brief__info-title Explore the awesomeness
                .brief__info-subtitle.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                .brief__info-block
                    .brief__info-block__icon
                        img(src="static/images/content/icon/gear.svg", alt="gear")
                    .brief__info-block__title Easy to Customize
                    .brief__info-block__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.
                .brief__info-block
                    .brief__info-block__icon
                        img(src="static/images/content/icon/thunder.svg", alt="thunder")
                    .brief__info-block__title Quality Design
                    .brief__info-block__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.
section.section.brief--two
    .container
        .brief-wrapper
            .brief__info
                .brief__info-title Describe more about product
                .brief__info-subtitle.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                .brief__info-block
                    .brief__info-block__icon
                        img(src="static/images/content/icon/flash.svg", alt="flash")
                    .brief__info-block__title Good in Performance
                    .brief__info-block__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.
                .brief__info-block
                    .brief__info-block__icon
                        img(src="static/images/content/icon/film.svg", alt="film")
                    .brief__info-block__title Video Background
                    .brief__info-block__subtitle.text Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.
            .brief__browser
                img(src="static/images/content/brief.jpg", alt="browser")