section.section.video
    .container
        .title Watch Video
        .subtitle Term sheet convertible note colluding bootstrapping.
        .video__walkman
            img(src="static/images/content/walkman.jpg", alt="walkman")
        .video__list
            .video__item(style={"background-image":"url(../static/images/content/users.png)"}) Trusted by 100+ users
            .video__item(style={"background-image":"url(../static/images/content/video.png)"}) Video Documentation
            .video__item(style={"background-image":"url(../static/images/content/chat.png)"}) 24/7 Chat Support
        