footer.footer
    .container
        a(href="#").logo    
            img(src="static/images/content/logo-dark.png", alt="logo-footer")
        .footer__copyright ©2020 LandX Template LLC. 
        ul.footer__social
            li.footer__social-item
                 a(href="#").footer__social-link
                    img(src="static/images/content/icon/footer/facebook.png", alt="facebook")
            li.footer__social-item
                a(href="#").footer__social-link
                    img(src="static/images/content/icon/footer/twitter.png", alt="twitter")
            li.footer__social-item
                a(href="#").footer__social-link
                    img(src="static/images/content/icon/footer/pinterest.png", alt="pinterest")
            li.footer__social-item
                a(href="#").footer__social-link
                    img(src="static/images/content/icon/footer/google-plus.png", alt="google-plus")
            li.footer__social-item
                a(href="#").footer__social-link
                    img(src="static/images/content/icon/footer/instagram.png", alt="instagram")
            li.footer__social-item
                a(href="#").footer__social-link
                    img(src="static/images/content/icon/footer/linkedin.png", alt="linkedin")